:root {
    --htmlbg: #0b4f6c;
    --btnbr:#01baef;
    --bodybg: #f3f3f3;
    --btnbg: #f3f3f3;
}

html {
    background-color: var(--htmlbg);
}
 
body {
    background-color: var(--bodybg);
    margin: 3em;
    padding: 2em;
    border-top: 0.5em;
    border-top-style: solid;
    border-radius: 0.25em;
    font-family: 'Ubuntu', sans-serif;
}

.c {
    text-align: center;
}

.c-i {
    text-align: center;
    font-size: 1.25em;
}

nav > ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 0.25em;
    background-color:#bababa;
    padding: 1em;
    margin: 1em;
    box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
    border: 1px solid #aaa;
}

.btn {
    background-color: var(--btnbg);
    color: black;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--btnbr);
    text-decoration: none;
    padding: 0.25em;
}

.btn:hover {
    background-color: var(--btnbr);
}

.f-e {
    display: flex;
    justify-content: space-between;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.flex-c {
    display: flex;
}

.f-space-around{
justify-content: space-around;
}

.zimg {
    width: 20em;
    border-radius: 0.5em;
    margin: 1.5em;
}

.center {
    display: grid;
    place-items: center;
}

.card {
    background-color: #bababa;
    border-radius: 0.5em;
    margin: 0 auto;
    width: 40em;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
    border: 1px solid #aaa;
    padding: 1em;
}

@media (max-width: 830px) {
    .card {
        background-color: #bababa;
        border-radius: 0.5em;
        margin: 0 auto;
        width: 35em;
        text-align: center;
        box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 0.50em;
    }

    body{
        font-size: 75%;
    }
}

@media (max-width: 570px){
    body{
        font-size: 60%;
    }
    .btn {
        background-color: var(--btnbg);
        color: black;
        border-style: solid;
        border-radius: 0.5em;
        border-color: var(--btnbr);
        margin: 1em;
        text-align:center;
        text-decoration: none;
        padding: 0.25em;
    }
    li {
        display: flex;
        justify-content: center;
    }
    .zimg {
        width: 10em;
        border-radius: 0.5em;
        margin: 1em;
    }
    .card {
        background-color: #bababa;
        border-radius: 0.5em;
        margin: 0 auto;
        width: 25em;
        text-align: center;
        box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 0.25em;
    }
}