:root {
    --htmlbg: #0b4f6c;
    --btnbr: #01baef;
    --bodybg: #f3f3f3;
    --btnbg: #f3f3f3;
    --cardbg: #bababa;
    --active: #7c7c7c;
    --inactive: #bababa;
}

html {
    background-color: var(--htmlbg);
}

body {
    background-color: var(--bodybg);
    margin: 3em;
    padding: 2em;
    border-top: 0.5em;
    border-top-style: solid;
    border-radius: 0.25em;
    font-family: 'Ubuntu', sans-serif;
}


button {
    width: 5em;
    margin: 1em;
}

section>div>p {
    margin: 1em;
}

h3 {
    margin: 1em;
}

section>p {
    margin: 1em;
}

div>p {
    margin: 1em;
}

h2 {
    margin-top: 2em;
}

.c {
    text-align: center;
    font-size: 6em;
}

.c-i {
    text-align: center;
    font-size: 3em;
}

.h-c-c {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

.h-c {
    text-align: center;
}

input {
    display: block;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.25em;
    border: 1px;
}

input:focus {
    display: block;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.25em;
    border: 1px;
    border: 3px solid var(--btnbr);
    outline: none;
}

textarea:focus {
    display: block;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.25em;
    border: 1px;
    resize: none;
    border: 3px solid var(--btnbr);
    outline: none;
}

textarea {
    display: block;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.25em;
    border: 1px;
    resize: none;
}


nav>ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 0.25em;
    background-color: #bababa;
    padding: 1em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
    border: 1px solid #aaa;
}

section>ul>li {
    margin: 0.5em;
}

.btn {
    background-color: var(--btnbg);
    color: black;
    border-style: solid;
    border-radius: 0.5em;
    border-color: var(--btnbr);
    text-decoration: none;
    padding: 0.25em;
}

.btn:hover {
    background-color: var(--btnbr);
    transition: background-color ease-in-out 0.2s;
}





.f-e {
    display: flex;
    justify-content: space-between;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.flex-c {
    display: flex;
}

.f-space-around {
    justify-content: space-around;
}

.img-wrapper {
    display: grid;
    justify-items: center;
}

.zimg {
    width: 20em;
    border-radius: 0.5em;
    margin: 1.5em;
}

.center {
    display: flex;
    flex-direction: column;

}

.contact-center {
    display: grid;
    justify-items: center;

}

.contact-m {
    margin-left: -5%;
    margin-right: -5%;
}

.card {
    background-color: var(--cardbg);
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
    border: 1px solid #aaa;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

li a {
    color: black;
    text-align: center;
    padding: 0.6em 0.6em;
    text-decoration: none;
    font-size: 175%;
}

li a:hover {
    background-color: var(--active);
    transition: background-color ease-in-out 0.2s;
}


.nav-btn-active {
    background-color: var(--active);
    
    
    text-decoration: none;
}
/*
.nav-btn-inactive {
    color: var(--inactive);
    font-size: 175%;
    transition: color ease-in-out 0.2s;
    text-decoration: none;
}

.nav-btn-inactive:hover {
    color: var(--active);
    font-size: 175%;
    transition: color ease-in-out 0.2s;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px;
}
*/
@media only screen and (max-width: 350px) {
    body {
        font-size: 65%;
    }

    .card {
        background-color: var(--cardbg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 1em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 0.5em;
    }

    .c {
        text-align: center;
        font-size: 3em;
    }

    .c-i {
        text-align: center;
        font-size: 1.5em;
    }

    .zimg {
        width: 14em;
        border-radius: 0.5em;
        margin: 1.5em;
    }
}

@media only screen and (min-width: 350px) {
    body {
        font-size: 65%;
    }

    .card {
        background-color: var(--cardbg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 1em;
        margin-left: 3.5em;
        margin-right: 3.5em;
        margin-bottom: 1em;
    }

    .c {
        text-align: center;
        font-size: 3em;
    }

    .c-i {
        text-align: center;
        font-size: 1.5em;
    }

    .zimg {
        width: 14em;
        border-radius: 0.5em;
        margin: 1.5em;
    }
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 80%;
    }

    .card {
        background-color: var(--cardbg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 1em;
        margin-left: 4em;
        margin-right: 4em;
        margin-bottom: 1em;
    }

    .c {
        text-align: center;
        font-size: 3.75em;
    }

    .c-i {
        text-align: center;
        font-size: 2em;
    }

    .zimg {
        width: 16em;
        border-radius: 0.5em;
        margin: 1.5em;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 90%;
    }

    .card {
        background-color: var(--cardbg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 1em;
        margin-left: 4.5em;
        margin-right: 4.5em;
        margin-bottom: 1.5em;
    }

    .c {
        text-align: center;
        font-size: 5em;
    }

    .c-i {
        text-align: center;
        font-size: 2.5em;
    }

    .zimg {
        width: 18em;
        border-radius: 0.5em;
        margin: 1.5em;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        font-size: 100%;
    }

    .card {
        background-color: var(--cardbg);
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
        border: 1px solid #aaa;
        padding: 1em;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 2em;
    }

    .c {
        text-align: center;
        font-size: 6em;
    }

    .c-i {
        text-align: center;
        font-size: 3em;
    }

    .zimg {
        width: 20em;
        border-radius: 0.5em;
        margin: 1.5em;
    }
}